/* Style for card */
.card-container {
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 200px;
}

.card {
    margin: 20px 0;
    padding: 10px;
    background-color: cyan;
    border-radius: 10px;
    border-color: blue;
    box-shadow: 0 10px 10px rgba(80, 140, 235, 0.85);
    font-size: 24px;
    color:darkorchid;
}

.card-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.card-data {
    font-size: 16px;
}


/* Style for production gauge container */
#productionGaugeContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}